#XookSuut configuration file.
#
# 
# Example of configuration file
# (0) param. Description of the constant parameters. Do not touch this column !!
# (1) val. Initial values of the constant parameters.
# (2) fit. Boolen. If 1 the parameter is fitted. If 0 the parameter remains constant during the Least square analysis.
# (3) min. Minimum value for the considered parameter. If fit was set to 0, the min value is ignored. 
# (4) max. Maximum value for the considered parameter. If fit was set to 0, the max value is ignored. 
#
#
#
param	val	fit	min	max
pa	32	1	0	360
inc	48	1	10	80
x0	60.5	1	0	120
y0	65.2	1	0	120
Vsys	2000	1	0	3e10
phi_b	73	1	0	180

